body {
    background-color: #000;
}
h1 {
	border-bottom: 2px white;
	color: red;
	font-size: 45px;
	text-align: center;
}
h2 {
	color: white;
	font-size: 30px;
	text-align: center;
}
h3 {
	color: grey;
	font-size: 26px;
	text-align: left;
}
p{
	color: grey;
	font-size: 25px;
	text-align: center;
}
img {
	/*margin: 0px 40% 0px 43%;*/

}
.content {
	margin: 0 auto;
	width: 85%;
	background-color: #111;
}

.bottom {
	background-color: #111;
	border-style: solid;
	border-color: white;
	border-width: 3px;
	padding: 100px;
	border-bottom: 0px;
}

.grid {
	column-count: 3;
	column-gap: 40px;
	column-rule: 1px solid red;
}
